<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Upkeep_Gatepass_Workpermit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Upkeep_v3.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <pages validateRequest="false"/>
   
    <!--<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />-->
    <!--<httpRuntime targetFramework="4.5.2" maxRequestLength="1048576"/>-->
    <!--<httpRuntime requestValidationMode="2.0" />-->
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>

      <!--<remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="font/woff"/>-->
      
    </staticContent>
    <!--<security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>-->
  </system.webServer>

  <appSettings>
    <add key="baseURL" value="~/General_Masters/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="TicketPrefix" value="TKT"/>
    <add key="TicketImagePath" value="E:\Ajay Prajapati\Upload_Test\Uploaded\"></add>
    <add key="ImageUploadURL" value="http://localhost:51897"/>

    <add key="API_URL" value="https://compelapps.in//UAT_Upkeep_V3_API/api/UpKeep/"/>
    
    <!-- Add VD Name -->
    <add key="VDName" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="Upkeep_GP_WP_ConString"
      connectionString="Data Source=www.compelapps.in;Initial Catalog=Upkeep_Dev_Wrk_STANDARD;Persist Security Info=True;User ID=compeldev;Password=SQL99!#"
      providerName="System.Data.SqlClient"/>


    <add name="Upkeep_ConString"
      connectionString="Data Source=101.53.152.242;Initial Catalog=Upkeep_v3_B;Persist Security Info=True;User ID=sa;Password=SQL99!"
      providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES'"/>
  </connectionStrings>


  <!--<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>-->
  <applicationSettings>
    <Upkeep_Gatepass_Workpermit.Properties.Settings>
      <setting name="Upkeep_Gatepass_Workpermit_Upkeep_GP_WP_Services_Upkeep_GP_WP_Services"
        serializeAs="String">
        <value>http://localhost:54306/Upkeep_GP_WP_Services.asmx</value>
      </setting>
    </Upkeep_Gatepass_Workpermit.Properties.Settings>
    <Upkeep_v3.Properties.Settings>
      <setting name="Upkeep_v3_Upkeep_V3_Services_Upkeep_V3_Services" serializeAs="String">
        <value>http://localhost:60461/Upkeep_V3_Services.asmx</value>
      </setting>
    </Upkeep_v3.Properties.Settings>
  </applicationSettings>
</configuration>
