<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Upkeep_v3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <!--<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />-->
    <!--<httpRuntime targetFramework="4.5.2" maxRequestLength="1048576"/>-->
    <!--<httpRuntime requestValidationMode="2.0" />-->
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <!--<security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>-->
  </system.webServer>

  <appSettings>
    <add key="baseURL" value="~/General_Masters/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TicketPrefix" value="TKT"/>
    <add key="TicketImagePath" value="E:\Ajay Prajapati\Upload_Test\Uploaded\"></add>
    <add key="ImageUploadURL" value="http://localhost:51897"/>
    <add key="VDName" value=""/>
  </appSettings>

  <connectionStrings>
    <!--<add name="Upkeep_ConString" connectionString="Data Source=101.53.152.242;Initial Catalog=Upkeep_v3_B;Persist Security Info=True;User ID=sa;Password=SQL99!" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Upkeep_ConString" connectionString="Data Source=DESKTOP-ASJS7SA\SQLEXPRESS;Initial Catalog=Upkeep_Wrk_v3;Persist Security Info=True;User ID=sa;Password=Admin@123" providerName="System.Data.SqlClient"/>-->
    <add name="Upkeep_ConString" connectionString="Data Source=www.compelapps.in;Initial Catalog=Upkeep_Dev_Wrk_v3;Persist Security Info=True;User ID=compeldev;Password=SQL99!#" providerName="System.Data.SqlClient"/>

    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES'"/>
  </connectionStrings>


  <system.codedom>
    <!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>-->
    <!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">

      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>-->
  </system.codedom>


  <!--<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>-->
  <applicationSettings>
    <Upkeep_v3.Properties.Settings>
      <setting name="Upkeep_v3_Upkeep_V3_Services_Upkeep_V3_Services"
        serializeAs="String">
        <value>http://localhost:60461/Upkeep_V3_Services.asmx</value>
      </setting>
    </Upkeep_v3.Properties.Settings>
  </applicationSettings>
</configuration>
